<div class="card" [ngClass]="wrongAnswerClicked? 'wrong-answer-clicked' : ''">
  <div class="card--header">Pregunta {{questionIndex + 1}}</div>
  <div class="card--text">{{questionItem.questionText}}?</div>
  <div class="card--answer-wrapper">
    <app-answer-option *ngFor="let option of questionItem.answers" [id]="option.id" [answerOption]="option.text"
                       [clicked]="clicked" [isCorrect]="questionItem.correctAnswer === option.id" [name]="questionIndex"
                       [selectedAnswer]="selectedAnswer"
                       (answerWasclickedEvent)="clickHandler(questionItem.correctAnswer === option.id, option.id)">

    </app-answer-option>
  </div>

</div>
