<div class="card" [ngClass]="wrongAnswerClicked? 'wrong-answer-clicked' : ''">
  <div class="card--header">
    <p class="card--header--side">Sección: {{mainSectionNumber}}-{{subSectionNumber}}</p>
    <p class="card--header--question">Pregunta: {{questionIndex + 1}}</p>
    <div class="card--header--side"></div>
  </div>
  <div class="card--text">{{questionItem.questionText}}?</div>
  <div class="card--answer-wrapper">
    <app-answer-option *ngFor="let option of questionItem.answers" [id]="option.id" [answerOption]="option.text"
                       [clicked]="clicked" [isCorrect]="questionItem.correctAnswer === option.id" [name]="questionIndex"
                       [selectedAnswer]="selectedAnswer"
                       (answerWasclickedEvent)="clickHandler(questionItem.correctAnswer === option.id, option.id)">

    </app-answer-option>
  </div>
  <div *ngIf="clicked" class="card--explanation-wrapper" (click)="explanationShown = !explanationShown">
    <fa-icon *ngIf="explanationShown" [icon]="faAngleDoubleDown" class="card--explanation-icon"></fa-icon>
    <fa-icon *ngIf="!explanationShown" [icon]="faAngleDoubleUp" class="card--explanation-icon"></fa-icon>
    <p class="card--explanation-text"
       [ngClass]="explanationShown? 'card--explanation-expanded': 'card--explanation-collapsed'"> {{questionItem.explanation}}</p>
  </div>

</div>
