.card {
  display: grid;
  place-content: center;
  padding: 30px 15px;
  border: 1px solid;
  font-size: 1.2rem;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  &--header {
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
  }

  &--text {
    text-align: center;
  }

  &--answer-wrapper {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &--explanation {

    &-wrapper {
      padding: 30px 10px 0 10px;

      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      color: hsl(195, 53%, 65%);
      display: flex;
      justify-content: center;

      &:hover {
        cursor: pointer;
      }
    }

    &-text {
      font-size: 1rem;
      max-height: 0;
      opacity: 0;
      overflow: hidden;
    }

    &-collapsed {
      animation: expand 500ms ease-in-out forwards;
    }

    &-expanded {
      animation: collapse 300ms ease-out forwards;
      animation-delay: 0ms;
    }
  }
}

.wrong-answer-clicked {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}


// animations
@keyframes expand {
  from {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    max-height: 800px;
    opacity: 1;
  }
}

@keyframes collapse {
  from {
    max-height: 800px;
    opacity: 1;

  }
  to {
    max-height: 0;
    overflow: hidden;
  }
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
