<div class="option-wrapper" (click)="clickAnswer()"
     [ngClass]="{'correct-answer': (clicked || testFinished) && isCorrect, 'wrong-answer': (clicked || testFinished) && !isCorrect}">
  <input [name]="name" [readOnly]="(clicked || testFinished)" type="radio" [id]="id" [disabled]="disabled">
  <label [for]="id" class="answer" [ngClass]="{'disabled': clicked || disabled}">
    {{answerOption}}
  </label>
  <span class="answer-icon wrong" *ngIf="(clicked || testFinished) && !isCorrect">X</span>
  <span class="answer-icon correct" *ngIf="(clicked || testFinished) && isCorrect">✓</span>
</div>
