.option-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0 0 10px;
  border-radius: 5px;

  & .answer {
    text-align: left;
    padding-left: 20px;
    line-height: 1.2;

    &:hover {
      cursor: pointer;
    }

    &.disabled:hover {
      cursor: not-allowed;
    }
  }

  .answer-icon {
    padding-left: 16px;
    font-weight: bold;

    &.wrong {
      color: var(--wrong-solid);
    }

    &.correct {
      color: var(--correct-solid)
    }
  }
}

.wrong-answer {
  background-color: var(--wrong-background);
}

.correct-answer {
  background-color: var(--correct-background);
}

input[type="radio" i]:disabled {
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed;
  color: var(--gray-400)
}
