<div class="option-wrapper" (click)="clickAnswer()"
     [ngClass]="{'correct-answer': (selectedAnswer && selectedAnswer.length > 0 || testFinished) && isCorrect, 'wrong-answer': (selectedAnswer && selectedAnswer.length > 0 || testFinished) && !isCorrect}">
  <input [name]="name" [readOnly]="(selectedAnswer && selectedAnswer.length > 0 || testFinished)" type="radio" [id]="id" [disabled]="disabled" [checked]="selectedAnswer === id">
  <label [for]="id" class="answer" [ngClass]="{'disabled': (selectedAnswer && selectedAnswer.length > 0) || disabled}">
    {{answerOption}}
  </label>
  @if ((selectedAnswer && selectedAnswer.length > 0 || testFinished) && !isCorrect) {
    <fa-icon [icon]="faTimes" class="answer-icon wrong"></fa-icon>
  }
  @if ((selectedAnswer && selectedAnswer.length > 0 || testFinished) && isCorrect) {
    <fa-icon [icon]="faCheck" class="answer-icon correct"></fa-icon>
  }
</div>
