.option-wrapper {
  display: flex;
  align-items: center;
  padding: 5px 0 0 10px;
  border-radius: 5px;

  & .answer {
    text-align: left;
    padding-left: 20px;
    line-height: 1.2;

    &:hover {
      cursor: pointer;
    }
  }
}

.wrong-answer {
  background-color: hsl(0, 100%, 90%);
}
.correct-answer {
  background-color: 	hsla(120, 100%, 25%, 0.2) ;
  //outline: 2px solid green;
}

input[type="radio" i]:disabled {
  cursor: not-allowed;
}

.disabled {
  cursor: not-allowed;
}
