<div class="option-wrapper" (click)="clickAnswer()"
     [ngClass]="{'correct-answer': clicked && isCorrect, 'wrong-answer': clicked && !isCorrect}">
  <input [name]="name" [readOnly]="clicked" type="radio" [id]="id" [disabled]="disabled">
  <label [for]="id" class="answer" [ngClass]="{'disabled': clicked || disabled}">
    {{answerOption}}
  </label>
  <span class="answer-icon wrong" *ngIf="clicked && !isCorrect">X</span>
  <span class="answer-icon correct" *ngIf="clicked && isCorrect">✓</span>
</div>
