.outer-wrapper {
  width: max-content;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 10px;

    .input-label {
      text-align: left;
      font-weight: bold;
    }

    .input-field {
      border: 2px solid var(--primary-color);

      &:focus-visible, &:focus-visible {
        border: 2px solid var(--secondary-color);
        outline: none;
      }
    }

    .validation-message {
      color: red;
    }

    .answer-text {
      padding-top: 10px;
    }

    .dropdown {
      border: 2px solid var(--primary-color);

      &:focus {
        border: 2px solid var(--secondary-color);
      }
    }
  }

  .submit-button {
    align-self: flex-end;
    font-weight: bold;
    padding: 10px 15px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: hsl(0, 0%, 85%);
    border: none;

    &:hover {
      //background-color: hsl(0, 0%, 94%);
      color: var(--primary-color);
    }

    &:disabled:hover {
      cursor: not-allowed;
      background-color: hsl(0, 0%, 85%);
      color: revert;
    }
  }

}
