.side-nav {
  width: fit-content;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: hsl(210,57%,91%);
  //background-color: hsl(77, 43%, 68%);
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid lightgrey;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }

  &--open {
    animation: expand-sidenav 500ms ease-in forwards;
  }

  &--closed {
    animation: collapse-sidenav 500ms ease-out forwards;
  }

  &--items {
    //margin reset
    margin: 0;
    // header height
    padding: 130px 20px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &--item {
      text-decoration: none;
      list-style: none;

      &--text {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.5rem;
        margin: 0;
        padding-bottom: 5px;

        &:hover {
          color: var(--secondary-color);
          cursor: pointer;
        }
      }

      &--sublist {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: 0;

        &--expanded {
          animation: expand-main-section 500ms forwards;
        }

        &--collapsed {
          animation: collapse-main-section 500ms forwards;
        }

        &--item {
          text-decoration: none;
          list-style: none;
          text-transform: capitalize;

          &--active {
            font-weight: bold;
            text-decoration: underline;
          }

          &:hover {
            cursor: pointer;
            color: hsl(0, 0%, 34%);
          }
        }
      }
    }
  }

  &--icon {
    position: fixed;
    bottom: 10px;
    left: 270px;

    &:hover {
      color: var(--secondary-color);
      cursor: pointer;
    }

    &--open {
      animation: flip-icon-left 400ms ease-out forwards;

    }

    &--closed {
      animation: flip-icon-right 400ms ease-in forwards;
    }
  }
  .bottom-spacer {
    min-height: 75px;
    width: 100%;
  }
}

@keyframes expand-sidenav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes collapse-sidenav {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes flip-icon-left {
  from {
    transform: translateX(0) rotate(0);
  }
  to {
    transform: translateX(-260px) rotate(-180deg);
  }
}

@keyframes flip-icon-right {
  from {
    transform: translateX(-260px) rotate(-180deg);
  }
  to {
    transform: translateX(0) rotate(0);
  }
}

@keyframes expand-main-section {
  from {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    height: auto;
    opacity: 1;
  }
}

@keyframes collapse-main-section {
  from {
    height: auto;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}


