<div class="side-nav" [ngClass]="open? 'side-nav--open': 'side-nav--closed'">
  <div class="logo-wrapper">
  <img src="../../../assets/logo_vertical.png" alt="logo showing waterdrops on book" class="logo">
  </div>
  <ul class="side-nav--items">
    @for (section of mainSections; track section; let i = $index) {
      <li id="parentList" class="side-nav--items--item">
        <p class="side-nav--items--item--text" (click)="clickHandlerMainList(i)">{{i + 1}}. {{section}}</p>
        <ul class="side-nav--items--item--sublist"
            [ngClass]="isExpanded[i]? 'side-nav--items--item--sublist--expanded': 'side-nav--items--item--sublist--collapsed'">
          @for (subsection of sections[section]; track subsection.name; let j = $index) {
            <li (click)="clickHandlerSublist(section, subsection.name, i+1, j+1)"
                class="side-nav--items--item--sublist--item"
                [ngClass]="activeSection.mainSectionNumber === i+1 && activeSection.subSectionNumber === j+1? 'side-nav--items--item--sublist--item--active':''">{{i + 1}}.{{j + 1}}. {{subsection.name}}</li>
          }
        </ul>
      </li>
    }
  </ul>
  <div class="bottom-spacer"></div>
</div>
<fa-icon [icon]="open ? faAngleDoubleRight : faAngleDoubleRight" (click)="iconClickHandler()" class="side-nav--icon"
         [ngClass]="open? 'side-nav--icon--open':'side-nav--icon--closed'" size="3x"></fa-icon>
