<app-side-nav (clickEmit)="changeData($event)" (expandSidebarEmit)="toggleSidebarExpanded($event)" [activeSection]="activeSection"></app-side-nav>
<div class="wrapper">
    @for (question of questions; track question.id; let i = $index) {
      <app-question-card class="single-question"
                         [subSectionName]="activeSection.subSection"
                         [questionIndex]="i"
                         [questionItem]="question"
                         [sidebarExpanded]="sidebarExpanded">
      </app-question-card>
    }
</div>
@if (errorMessage) {
  <app-error-snackbar [errorText]="errorMessage"></app-error-snackbar>
}
