<div class="wrapper">
  <div class="logo-wrapper">
    <img src="../../../assets/logo_horizontal.png" alt="logo showing waterdrops on book" class="logo">
  </div>
  <nav class="navigation">
    @if (isLoggedIn) {
      <a (click)="navigateWithGuard('/home', $event)" class="navigation-link" routerLinkActive="active">Home</a>
    }
    @if (isLoggedIn) {
      <a (click)="navigateWithGuard('/test', $event)" class="navigation-link" routerLinkActive="active">Examen de práctica</a>
    }
    @if (isLoggedIn) {
      <a (click)="navigateWithGuard('/results', $event)" class="navigation-link" routerLinkActive="active">Análisis de Resultados</a>
    }
    @if (isLoggedIn && isAdmin) {
      <a (click)="navigateWithGuard('/addQuestion', $event)" class="navigation-link" routerLinkActive="active">Agregar pregunta</a>
    }
    @if (isLoggedIn) {
      <a class="navigation-link log-button" (click)="logout()">Logout</a>
    }
  </nav>
  <div class="image-wrapper">
    <img src="../../../assets/images/swoop.svg" alt="underlying image to allow for header styling" class="swoop-image">
  </div>
</div>
