@if (testStatus === '') {
  <button
    type="button"
    class="button start-button"
    (click)="startTest()">
    Iniciar prueba
  </button>
}
@if (testStatus === 'started' || testStatus === 'ended') {
  <div class="timer-wrapper">
    <button
      type="button"
      class="button"
      (click)="submitTest()"
      [ngClass]="testStatus === 'ended' ? 'button-finished': ''">
      Terminar prueba
    </button>
    <p [ngClass]="testStatus === 'ended' ? 'timer-finished': ''">
      {{transform(this.remainingTime)}}
    </p>
  </div>
}
