.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 10%;
  width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  border: 1px solid;
  background: white;
  padding: 20px;

  .result-header {
  }

  table.blueTable {
    border: 1px solid;
    width: 100%;
    height: 300px;
    border-collapse: collapse;
    text-align: center;

    & td, table.blueTable th {
      border: 1px solid;
      padding: 3px 2px;

      &:not(:first-child) {
        border-left: none
      }
    }

    & tbody tr td:first-child {
      font-weight: bold;
    }

    & tbody td {
      font-size: 13px;
    }

    & thead {
      //border-bottom: 2px solid #444444;

      & th {
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        border: 1px solid;

        //&:first-child {
        //  border-left: none;
        //}
      }
    }
  }


  .result-row {


  }
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--gray-500-transparent);
}

.good-result {
  color: var(--correct-solid)
}

.average-result {
  color: orange;
}

.bad-result {
  color: var(--wrong-solid)
}
