/* You can add global styles to this file, and also import other style files */
@import '../../node_modules/normalize.css';

html, body {
  --primary-color: hsl(210,57%,91%);
  --secondary-color: hsl(77, 43%, 68%);
  font-family: 'PT Sans', sans-serif;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

