@if (modalOpen) {
  <app-result-modal 
    [userId]="currentUserId"
    [currentSection]="'general'"
    [currentSubsection]="''"
    [isProgressTracking]="false"
    (onCloseClick)="onModalClose()"
    (onRetryClick)="onRetryTest()"
    (onContinueClick)="onContinueTest()">
  </app-result-modal>
}
<div class="wrapper">
    @for (question of filteredQuestions; track question.id; let i = $index) {
      <app-test-card class="single-question"
                     [questionItem]="question"
                     [questionIndex]="i"
                     [testStatus]="testStatus">
      </app-test-card>
    }
</div>
@if (testStatus === 'ended') {
  <button
    type="button"
    class="button"
    (click)="openModal()">
    Resultado abierto
  </button>
}
<app-timer></app-timer>
@if (errorMessage) {
  <app-error-snackbar [errorText]="errorMessage"></app-error-snackbar>
}
