<div class="card">
  <div class="card--header">
    <p class="card--header--question">Pregunta: {{questionIndex + 1}}</p>
  </div>
  <div class="card--text">{{questionItem && questionItem.questionText}}</div>
  <div class="card--answer-wrapper">
    <app-answer-option *ngFor="let option of questionItem.answers"
                       [id]="option.id"
                       [answerOption]="option.text"
                       [name]="questionIndex"
                       (mousedown)="handleClick(questionItem ,option.id)"
                       [testFinished]="testStatus==='ended'"
                       [isCorrect]="questionItem.correctAnswer === option.id"
                       [disabled]="testStatus !== 'started'">
    </app-answer-option>
  </div>
</div>
